<div class="text-center" style="margin:30% 0 0 0;">
    <button type="submit" class="btn btn-primary linkable" data-href="sign-in">Войти</button>
    <button type="submit" class="btn btn-success linkable" data-href="sign-up">Зарегистрироваться</button>
</div>
