<h3>
    Привет, <span class="contentable" data-content="app.getCredentials().first_name"></span>!
</h3>
<hr>
<div class="col-lg-3">
    <h4>Все события</h4>
    <div class="all-events-html"><span class="empty-cell">Событий нет...</span></div>
    <h4>Мои события</h4>
    <div class="my-events-html"><span class="empty-cell">Событий нет...</span></div>
    <hr>
    <a class="btn btn-block btn-default sign-out" href="#">Выход</a>
</div>
<div class="col-lg-9 event-item"></div>

<script type="text/javascript">
    if (app.isLogedIn()) {
        app.renderAllEventsHtml();
        app.renderMyEventsHtml();

        setInterval(function () {
            app.renderAllEventsHtml();
            app.renderMyEventsHtml();
        }, 30000);
    }

    $('body').on('click', '.my-events-html div, .all-events-html div', function () {
        app.renderEventHtml(JSON.parse($(this).attr('data-content')));
    });

    $('body').on('click', '.users-in-event div', function () {
        var data = JSON.parse($(this).attr('data-content'));

        alert('Имя: ' + data.first_name + "\n" +
            'Фамилия: ' + data.last_name + "\n" +
            'Логин: ' + data.login);
    });

    $('body').on('click', '.subscribe-to-event', function () {
        app.createRequest('/api/event/' + $(this).attr('data-id'), null, 'POST').done(function (data) {
            app.renderAllEventsHtml();
            app.renderMyEventsHtml();
        }).fail(function (data) {
            alert(JSON.parse(data.responseText).message);
        });
    });

    $('body').on('click', '.unsubscribe-from-event', function () {
        app.createRequest('/api/event/' + $(this).attr('data-id'), null, 'DELETE').done(function (data) {
            app.renderAllEventsHtml();
            app.renderMyEventsHtml();
        }).fail(function (data) {
            alert(JSON.parse(data.responseText).message);
        });
    });
</script>
