<form id="sign-up-form" class="form-horizontal" action="/api/user/sign-up" method="post">
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="login">Логин</label>
        <div class="col-lg-3"><input type="text" id="login" class="form-control" name="login" required></div>
    </div>
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="password">Пароль</label>
        <div class="col-lg-3"><input type="password" id="password" class="form-control" name="password" required></div>
    </div>
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="first_name">Имя</label>
        <div class="col-lg-3"><input type="text" id="first_name" class="form-control" name="first_name" required></div>
    </div>
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="last_name">Фамилия</label>
        <div class="col-lg-3"><input type="text" id="last_name" class="form-control" name="last_name" required></div>
    </div>
    <div class="form-group">
        <label class="col-lg-1 control-label" for="birth_at">Дата рождения</label>
        <div class="col-lg-3"><input type="date" id="birth_at" class="form-control" name="birth_at"></div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-11">
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#sign-up-form').on('submit', function (e) {
        var bodyParams = $(this).serializeArray();

        app.createRequest($(this).attr('action'), bodyParams, 'POST').done(function (data) {
            if (data.user) {
                alert('Регистрация прошла успешно, ' + data.user.first_name + '!');

                app.authByPassword(bodyParams);
            } else if (data.errors) {
                var errors = [];

                for (var i in data.errors) {
                    errors.push(data.errors[i][0]);
                }

                alert(errors.join("\n"));
            }
        });

        return false;
    });
</script>
