<form id="sign-in-form" class="form-horizontal" action="/api/user/sign-in" method="post">
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="login">Логин</label>
        <div class="col-lg-3"><input type="text" id="login" class="form-control" name="login" required></div>
    </div>
    <div class="form-group required">
        <label class="col-lg-1 control-label" for="password">Пароль</label>
        <div class="col-lg-3"><input type="password" id="password" class="form-control" name="password" required></div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-11">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#sign-in-form').on('submit', function (e) {
        app.authByPassword($(this).serializeArray());

        return false;
    });
</script>
